*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// variables
@import "variables";

// navbar

// main
.section1{
    background-image: url(../assent/img/citybg2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .neon_title{
        color: transparent;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100vh;
        font-size: 4rem;
        text-transform: uppercase;
        span{
            animation: animate 3s linear infinite;    
        animation-delay: calc(0.1s *var(--i));  
        }
          
    }
}
@keyframes animate{
    0%{
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    30%,70%
    {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    100%
    {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}